#Git ignore file

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
out
.vs
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf

# Clion folder
/.idea/

/cmake-build-release/
/cmake-build-debug/
